/*Estilos de carrusel de inicio*/
h1 {
    font-family: 'Mont SemiBold', 'ui-rounded', sans-serif;
    font-size: 2rem;
    margin-top: 3rem;
    color: rgb(0, 0, 0);
}

h1 a {

    color: inherit;
    text-decoration: none;
    background: none;
    font: inherit;
    padding: 0;
    margin: 0;
    cursor: default;

    transition: color 0.3s;
    border-radius: 1px;

}

h1 a:hover {
    background-color: #ffffff3d;
    color: #888;
    transform: translateY(-2px);
}

/* Estilo para el carrusel */

#carrusel-contenido {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#carrusel-caja {
    display: flex;
    width: 100%;
    animation: deslizar 18s infinite;
}

.carrusel-elemento {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcarrusel {
    width: 100%;
    height: auto;
    max-height: 90vh;
    object-fit: cover;
}

/* Animación de carrusel */
@keyframes deslizar {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(0%);
    }

    30% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-200%);
    }

    85% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .imgcarrusel {
        max-height: 300px;
    }
}