
<!-- sección de página de presentación-->
<div id="inicio"></div>
<h1>Colección de temporada</h1>

<!--Carrusel de página de inicio-->
<div id="carrusel-contenido">
  <div id="carrusel-caja">
    <div class="carrusel-elemento">
      <img class="imgcarrusel" src="assets/img/inicio1.jpg" alt="Imagen de colección">
    </div>
    <div class="carrusel-elemento">
      <img class="imgcarrusel" src="assets/img/inicio2.jpg" alt="Imagen de colección">
    </div>
    <div class="carrusel-elemento">
      <img class="imgcarrusel" src="assets/img/inicio3.jpg" alt="Imagen de colección">
    </div>
  </div>
</div>
